.filterCard {
  width: 232px;
  height: 252px;
}

.checkboxs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(74, 74, 74);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: math-auto;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-card .ant-card-body {
  padding: 0 20px;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-card {
  color: rgb(74, 74, 74);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fff !important;
  border-color: rgb(33, 150, 243) !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: rgb(33, 150, 243) !important;
}

.ant-checkbox-inner {
  border-color: rgb(154, 187, 206) !important;
}

.ant-checkbox {
  border-radius: 2px;
  transform: scale(1.2);
}
